@model IEnumerable<MyFoodMvcApp.Models.Food>

@{
    ViewData["Title"] = "Halal Foods";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Halal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var food in Model)
            {
                <tr>
                    <td>@food.Name</td>
                    <td>@food.Halal ? "Yes" : "No"</td>
                </tr>
            }
        </tbody>
    </table>
</div>
